<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" packagingData="false">

    <property name="log_home" value="/mnt/logs/cl-news"/>

    <property name="app_name" value="cl-news"/>

    <!-- 标准输出：console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} :%L - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 文件输出：info日志 -->
    <appender name="${app_name}-info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/${app_name}-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${log_home}/${app_name}-info.%d{yyyyMMdd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} :%L - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- 文件输出：error日志 -->
    <appender name="${app_name}-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/${app_name}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${log_home}/${app_name}-error.%d{yyyyMMdd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} :%L - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- 定义了INFO及以上级别的日志，分别在文件和控制台输出 -->
    <root level="INFO">
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="${app_name}-info"/>
        <appender-ref ref="${app_name}-error"/>
    </root>

</configuration>