<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clnews.dao.AppMessageMapper">

    <resultMap id="BaseResultMap" type="com.clnews.domain.AppMessage">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="message" property="message" jdbcType="VARCHAR"/>
        <result column="senddate" property="senddate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">id, message, senddate</sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
            appuser_message
        where
            id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from
            appuser_message
        where
            id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.clnews.domain.AppMessage">
        insert into
            appuser_message (id, message, senddate)
        values
            (#{id,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{senddate,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.clnews.domain.AppMessage">
        insert into
            appuser_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="senddate != null">
                senddate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="senddate != null">
                #{senddate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.clnews.domain.AppMessage">
        update appuser_message
        <set>
            <if test="message != null">
                message = #{message,jdbcType=VARCHAR},
            </if>
            <if test="senddate != null">
                senddate = #{senddate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where
            id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.clnews.domain.AppMessage">
        update
            appuser_message
        set
            message = #{message,jdbcType=VARCHAR},
            senddate = #{senddate,jdbcType=TIMESTAMP}
        where
            id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select
            *
        from
            appuser_message
        order by
            senddate asc
    </select>

    <select id="getMessById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
            id, message, senddate
        from
            appuser_message
        where
            id = #{id,jdbcType=VARCHAR}
        order by
            senddate
        asc
  </select>

</mapper>
