<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="云收藏 | 让收藏更简单 |收藏夹 |网络收藏夹"/>
    <meta name="author" content=""/>

    <!--introduce fonts -->
    <link href="css/introduce.css" rel="stylesheet" type="text/css" />

    <!--图标网站-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="btn btn--1">
        <div class="content">
            <div class="front">
                <div class="border"></div>
                <i class="fab fa-weibo"></i>
            </div>
            <div class="back">
                <div class="border"></div>
                <p>生活</p>
            </div>
        </div>
    </div>
    <div class="btn btn--2">
        <div class="content">
            <div class="front">
                <div class="border"></div>
                <i class="fas fa-address-card"></i>
            </div>
            <div class="back">
                <div class="border"></div>
                <p>简历</p>
            </div>
        </div>
    </div>
    <div class="btn btn--3">
        <div class="content">
            <div class="front">
                <div class="border"></div>
                <i class="fab fa-github"></i>
            </div>
            <div class="back">
                <div class="border"></div>
                <p>代码</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>

